KERNEL_DEVICE_OBJS=\
$(DEVICEDIR)/mini-uart.o \
$(DEVICEDIR)/uart0.o \
$(DEVICEDIR)/dma.o \
$(DEVICEDIR)/hcd.o \
$(DEVICEDIR)/usb-mem.o \
$(DEVICEDIR)/usbd.o \
$(DEVICEDIR)/hub.o \
$(DEVICEDIR)/roothub.o \
$(DEVICEDIR)/hid.o \
$(DEVICEDIR)/keyboard.o \
$(DEVICEDIR)/mouse.o \
$(DEVICEDIR)/sdio.o \
$(DEVICEDIR)/sdio-util.o \
$(DEVICEDIR)/gpio.o \
$(DEVICEDIR)/emmc.o \
$(DEVICEDIR)/wifi.o \
$(DEVICEDIR)/wifi_sb.o \
$(DEVICEDIR)/wifi_io.o \

