KERNEL_ARCH_CFLAGS= -march=armv8-a+crc -mfpu=crypto-neon-fp-armv8 -fpic -ffreestanding
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/bss-clear.o \
$(ARCHDIR)/rpi-armtimer.o \
$(ARCHDIR)/rpi-interrupts.o \
$(ARCHDIR)/rpi-mailbox.o \
$(ARCHDIR)/rpi-mailbox-interface.o \
$(ARCHDIR)/systimer.o \
